body {
    margin: 20px 560px;
    padding: 20px 15px;
  
    background: #ffeb3b;
  }
  
  .gradient {
    background: linear-gradient(45deg, green 0%, orange 40%);
  }
  
  .page {
    margin: 20px 560px;
    padding: 20px 15px;
  
  }
  
  .counter {
    padding: 5px 15px;
    border: 1px solid black;
  }
  
  h1 {
    font-size: 44px;
    text-align: center;
    color: white;
  }