@font-face {
  font-family: "pt-sans-caption-regular";
  src: url("/fonts/pt-sans-caption-regular.woff");
}

@font-face {
  font-family: "pt-sans-caption-bold";
  src: url("../fonts/pt-sans-caption-bold.woff");
}

body {
  margin: 20px 565px;
  padding: 20px 15px;
  display: flex;
}

.background {
  width: auto;
  height: auto;
  background-image: url("https://s1.1zoom.me/b6055/886/Fish_Food_Apples_Orange_fruit_Nuts_Wood_planks_521743_1920x1080.jpg");
}

.page {
  margin: 20px 50px;
  padding: 20px 15px;
  display: flex;
}

.person-data {
  display: flex;
  border: none;
  padding: 0;
  margin-bottom: 12px;
}

.box {
  width: 30%;
}

.parameters {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

.item {
  color: #C0C0C0;
  font-size: 12px;
}

.window {
  width: 50px;
  text-align: center;
  border-radius: 5px;
  border-color: #C0C0C0;
  border-width: 2px;
  height: 25px;
}

.counter {
  padding: 5px 15px;
  border-radius: 15px;
  background-color: white;
  font-family: pt-sans-caption-regular, sans-serif;
}

.activity {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
}

h1 {
  font-size: 40px;
  font-family: pt-sans-caption-bold, sans-serif;
  text-align: center;
  color: white;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 10px;
  margin-inline-end: 0px;
  color: #C0C0C0;
}

.submit {
width: 120px;
height: 35px;
color: white;
background-color: #C0C0C0;
font-size: 13px;
}

.calculation {
display: none;
}

.reset {
  width: 200px;
  height: 35px;
  color: #dbd8d8;
  background-color: #e6e0e0;
  font-size: 12px;
  }